<% @page_title = "All Sections" %>


<div class="sections index">
  <h2>Sections</h2>

  <%= link_to("Add New Section", new_section_path(:page_id => @page.id), :class => 'action new') %>

  <table class="listing" summary="Section list">
    <tr class="header">
      <th>ID</th>
      <th>Page ID</th>
      <th>Position</th>
      <th>Name</th>
      <th>Visible</th>
      <th>Content</th>
      <th>Type</th>
      <th>Actions</th>
    </tr>
    <!-- This loops through the sections table and assigns
      values to the section value -->
    <% @sections.each do |section| %>
    <tr>
      <td><%= section.id %></td>
      <td><%= section.page_id %></td>
      <td><%= section.position %></td>
      <td><%= section.name %></td>
      <!-- <td class="center"><%= section.visible ? 'Yes' : 'No' %></td> -->
      <td class="center"><%= status_tag(section.visible) %></td>
      <!-- <td><%= section.content %></td> -->
      <td>
        <% case section.content_type %>
          <% when 'HTML' %>
            <%= raw(sanitize(section.content, :tags => ['strong', 'em', 'a'])) %>
          <% when 'Text' %>
            <%= simple_format(section.content) %>
        <% end %>
      </td>
      <td><%= section.content_type %></td>
      <td class="actions">
        <%= link_to("Show", section_path(section, :page_id => @page.id), :class => 'action show') %>
        <%= link_to("Edit", edit_section_path(section, :page_id => @page.id), :class => 'action edit') %>
        <%= link_to("Delete", delete_section_path(section, :page_id => @page.id), :class => 'action delete') %>
      </td>
    </tr>
    <% end %>
  </table>
  <br>
  <br>
  <p>
    <%= link_to("<< Return to Parent Page", pages_path(:subject_id => @page.subject_id)) %>
  </p>
</div>
