<%= link_to("<< Back to List", subjects_path, :class => 'back-link') %>

<div class="subjects new">
  <h2>Create Subject</h2>
<!-- The form_for helper below is smart enough to know that Subject is a new object and it knows that the way that you create a new object when you're using resourceful routes, is that you POST a request to that URL. So we don't have to actually specify it,   -->
  <%= form_for(@subject) do |f| %>
<!--  the helper will have the variable f that's available throughout the rest of the form.-->
    <table summary="Subject form fields">
      <tr>
        <th>Name</th>
        <td><%= f.text_field(:name) %></td>
      </tr>
      <tr>
        <th>Position</th>
        <td><%= f.text_field(:position) %></td>
      </tr>
      <tr>
        <th>Visible</th>
        <td><%= f.text_field(:visible) %></td>
      </tr>
    </table>

    <div class="form-buttons">
      <%= f.submit("Create Subject") %>
    </div>

  <% end %>
</div>
